<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="col1" >
            <div class="login-box">
                <div class="logo">
                    <a href="">
                        <img class="imglogo" src="assets/images/logo.jpeg" alt="">
                    </a>
                </div>
                <div class="login-header">
                    <h4>Bonjour ! C est bon de te revoir. 👋</h4>
                </div>
                <div class="login-buttons">
                    <button class="login-button google">
                        S'IDENTIFIER AVEC GOOGLE
                        <div class="dlogog">
                            <img class="imglogog" src="assets/images/igoogle.png" alt="Google">
                        </div>
                    </button>
                    <button class="login-button apple">S'IDENTIFIER AVEC APPLE</button>
                </div>
                <div class="divider">------- OU -------</div>
                <form>
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur ou email</label>
                        <input type="text" id="username" placeholder="exemple@domaine.com" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" placeholder="Veuillez saisir votre mot de passe" class="form-control">
                    </div>
                    <a href="#">Vous avez oublié votre mot de passe ?</a>
                    <a href="/dashboard">
                        <button type="submit" class="btn btn-primary btn-block">S'IDENTIFIER</button>
                    </a>
                </form>
                <div class="signup-link">
                    <a href="/inscription">Vous êtes nouveau ? S'inscrire gratuitement</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="col2">
            <div class="diaporama-container">
                <div class="diaporama">
                    <div class="slide">
                        <span>Impressionnez votre public</span>
                        <div>
                            <img src="https://forms.app/static/img/auth-slider1.png" alt="Member 1">
                        </div>
                        <span>Des thèmes spéciaux pour sadapter à votre style et à votre marque</span>
                        <span>  Une impression durable avec plus de 50+ thèmes étonnants.
                                Transformez votre formulaire en un clin dœil ou personnalisez-le 
                                pour mettre en valeur votre flair et votre créativité.</span>
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider2.png" alt="Member 2">
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider3.png" alt="Member 3">
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider4.png" alt="Member 4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
