<div style="cursor: pointer;" class="retourn-arrow" onclick="window.history.back();">&larr;</div>

<div class="login-container">
    <div class="col-md-6" id="loginform">
        
        <img style="width: 130px; margin-bottom: 10px;" src="assets/images/logo.jpeg" alt="">
        <p style="margin-top: 1em; margin-bottom: 2em;">Bonjour ! C est bon de te revoir. 👋</p>

        <div>

                <div style="border: solid 1px #5085ec; background-color: #5085ec; padding: 5px; margin-bottom: 10px;">
                    <div style="border: solid 1px white; background: #fff; position: absolute;">
                        <img width="25px" src="assets/images/igoogle.png" alt="">
                    </div>
                    <span> <h4 style="color: white; font-size: 1em;"> S IDENTIFIER AVEC GOOGLE </h4> </span>
                </div>

                <div style="border: solid 1px ; background-color: black; padding: 5px;">
                    <div style="border: solid 1px black; background: black; position: absolute;">
                        <img width="25px" src="https://orange-caraibe.twic.pics/2022-09/logo_apple_white.png" alt="">
                    </div>
                    <span> <h4 style="color: white; font-size: 1em;"> S IDENTIFIER AVEC APPLE </h4> </span>
                </div>

        </div>

        <div class="tirerOu">
           <p class="leOu"> ou </p> 
        </div>

                <form  #loginForm="">
                  <div class="form-group">
                    <label for="username">Nom d'utilisateur ou email</label>
                    <input type="text" id="username" name="username" class="form-control"  required>
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" class="form-control"  required>
                  </div>
                  <div class="forgotPassword">
                    <a class="Aforgot" href="/forgot-password">Vous avez oublié votre mot de passe ?</a>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!loginForm"> <a style="color: white; text-decoration: none;" href="/dashboard"> S IDENTIFIER </a> </button>
                </form>

                <div class="buttonIns" style="margin-top: 2em; font-size: 13px; text-align: left;">
                    <p style="display: inline-block; opacity: .7; ">Vous êtes nouveau ?</p> 
                        <a href="/inscription" class="sign-up" tabindex="1"> 
                            S'inscrire gratuitement
                        </a>
                </div>

    </div>
    
    <div class="col-md-6" id="diaporamacontainer">
      <div class="diaporama-container">
          <div class="diaporama">
              <div class="slide">
                  <img src="https://forms.app/static/img/auth-slider1.png" alt="Member 1">
              </div>
              <div class="slide">
                  <img src="https://forms.app/static/img/auth-slider2.png" alt="Member 2">
              </div>
              <div class="slide">
                  <img src="https://forms.app/static/img/auth-slider3.png" alt="Member 3">
              </div>
              <div class="slide">
                  <img src="https://forms.app/static/img/auth-slider4.png" alt="Member 4">
              </div>
          </div>
      </div>
  </div>
    
  </div>