<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="login-box">
                <div>
                    <img src="assets/images/logo.jpeg" alt="">
                </div>
                <div class="login-header">
                    <h1>Créez votre compte gratuitement !</h1>
                </div>
                <div class="login-buttons">
                    <button class="login-button google">
                        S'IDENTIFIER AVEC GOOGLE
                        <div class="divlg">
                            <img class="lg" src="assets/images/gg-png.png" alt="Google">
                        </div>
                    </button>
                    <button class="login-button apple">S'IDENTIFIER AVEC APPLE</button>
                </div>
                <div class="divider">------- OU -------</div>
                <div>
                    <button class="login-button google">
                        S'IDENTIFIER AVEC GOOGLE
                        <div class="divlg">
                            <img class="lg" src="assets/images/gg-png.png" alt="Google">
                        </div>
                    </button>
                </div>
                <div class="signup-link">
                    <a href="#">Vous avez déjà un compte? S'identifier </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="diaporama-container">
                <div class="diaporama">
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider1.png" alt="Member 1">
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider2.png" alt="Member 2">
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider3.png" alt="Member 3">
                    </div>
                    <div class="slide">
                        <img src="https://forms.app/static/img/auth-slider4.png" alt="Member 4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
