<div>

    <div class="header">
        <header class="he">
            <div class="divhe">

                <div class="left" style="margin-bottom: -.6em;">
                    <a href="">
                        <img data-v-1600d866="" src="assets/images/logo.jpeg" class="icon-logo first">
                    </a>
                </div>
                <div class="right" style="display: flex; align-content: center; align-items: center; align-self: center;" >
                    <a href="" style="padding: .7em 1.5em; background: #11c4e0; color: #fff; border-radius: 8px;">
                        S'identifier
                    </a>
                </div>

            </div>
        </header>
    </div>

    <div class="back" style="margin: 0 auto; max-width: calc(98vw - 2em);">
        <div style="display: flex; height: 100%;">

            <div class="sid" style="min-width: 280px;">
                <div class="categorie">
                    <ul style="list-style: none;">
                        <li>Formulaire de Demande</li>
                        <li>Formulaires de Réservation Préalable</li>
                        <li>Formulaires de Consentement</li>
                        <li>Formulaires de Contact</li>
                        <li>Formulaires de Don</li>
                        <li>Formulaires D'évaluation</li>
                        <li>Formulaires D'inscription à un événement</li>
                        <li>Formulaires de Commentaires</li>
                        <li>Formulaires de Demande D'emploi</li>
                        <li>Formulaires de Téléchargement de Fichiers</li>
                        <li>Formulaires D'adhésion</li>
                        <li>Formulaires de Commande</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                    </ul>
                </div>
            </div>
            <div class="dash" style="max-width: 1200px; margin: 0 auto; width: 100%; padding-left: 1em;">

                <div></div>
                <!-- <div class="centre">

                    <div class="template">
                        <div class="tempimg">
                            <img style="width: 220px; height: 190px;" src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="">
                        </div>
                        <h3>Modèle de Formulaire de Demande D'emploi</h3>
                    </div>

                </div> -->
                <div class="body">
                <div class="card-section">
                    <div class="card">
                      <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Demande D'emploi">
                      <div class="card-content">
                        <h3>Modèle de Formulaire de Demande D'emploi</h3>
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Demande de Location">
                      <div class="card-content">
                        <h3>Modèle de Formulaire de Demande de Location</h3>
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Candidature Bénévole">
                      <div class="card-content">
                        <h3>Modèle de Formulaire de Candidature Bénévole</h3>
                      </div>
                    </div>
                    <div class="card">
                        <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Candidature Bénévole">
                        <div class="card-content">
                          <h3>Modèle de Formulaire de Candidature Bénévole</h3>
                        </div>
                      </div>
                      <div class="card">
                        <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Candidature Bénévole">
                        <div class="card-content">
                          <h3>Modèle de Formulaire de Candidature Bénévole</h3>
                        </div>
                      </div>
                      <div class="card">
                        <img src="https://wallpaper.forfun.com/fetch/87/87c93aa33275b4c8c73637ad3fbee836.jpeg" alt="Modèle de Formulaire de Candidature Bénévole">
                        <div class="card-content">
                          <h3>Modèle de Formulaire de Candidature Bénévole</h3>
                        </div>
                      </div>
                  </div>
                </div>
                <div></div>

            </div>

        </div>
    </div>

</div>