<div class="forgot-password-container">
    <div style="cursor: pointer;" class="retourn-arrow" onclick="window.history.back();">&larr;</div>
      <div class="left-panel">
        <div class="col-md-6">
        <img src="assets/Frame 2 (1).png" alt="forms.app logo" class="logo">
      </div>
        <h2>Vous avez oublié votre mot de passe ?</h2>
        <form >
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" placeholder="exemple@domaine.com">
            <button type="submit">ENVOYER LE LIEN DE RÉINITIALISATION</button>
  
          </div>
        </form>
      </div>
      <div class="right-panel">
        <h2>Rassemblez votre équipe</h2>
        <img src="assets/auth-slider4.webp" alt="Promo image">
        <div class="team-images">
         
        </div>
        <h2>Le travail d'équipe rendu facile avec forms.app</h2>
        <p>Le travail d'équipe fait fonctionner le rêve. Invitez votre équipe et commencez à travailler <br>ensemble sur forms.app en quelques secondes.</p>
      </div>
    </div>