.forgot-password-container {
    display: flex;
    height: 100vh;
    background-color: #313131;
    
  }
  
  .left-panel, .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;  
    margin-left: 20px;
    
  }
  
  .left-panel {
    background-color: #f9f8f8;
    border-radius: 10px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 15px;
    
    
  }
  
  .right-panel {
    background-color: #313131;
    color: #fff;
    text-align: center;
    
  }
  .right-panel img{
    padding: 10px;
    width: 85%;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0088cc;
  }
  
  .team-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .team-images img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .retourn-arrow{
    position: absolute;
    margin-top: 0px;
    padding: 55px;
    font-size: 50px;
  }